.customDataGrid:global(.MuiDataGrid-columnHeaders) {
    @apply bg-rose-800 !important;
  }
  
  /* customPagination.module.css */
.pagination {
  @apply  text-white; /* Set the text color to white */
}
.MuiPagination-ul {
  /* Target the list element for better specificity */
  list-style: none;
  padding: 0;
  margin: 0;
}
.MuiPaginationItem-root {
  /* Target individual pagination items */
  display: inline-block;
}
